.header {
    margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
ul {
  display: flex;
  column-gap: 3rem;
}
nav ul li a {
    font-size: 1.1rem;
    padding: 10px 15px;
    color: black;
}
nav ul li a:hover {
    color: white;
    background-color: blueviolet;
    border-radius: 20px;
    transition: all 600ms;
}
.divLeft h3{
    color: blueviolet;
    font-size: 1.2rem;
}
.divleft{
    display: flex;
    column-gap: 1rem;
}
.iconDiv{
    color: blueviolet;
    font-size: 1.5rem;
}