.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 9rem;
  width: 100%;
  margin-top: 60px;
}
.divLeft {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.divRight {
  width: 50%;
}
.divRight img {
  width: 280px;
  height: 280px;
  border-radius: 50%;
}
.divLeft .contact{
  cursor: pointer;
    transition: all 600ms;
    width: 110px;
    transition: all 600ms;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: blueviolet;
    color: white;
}
.divLeft .contact:hover{
  border: 2px solid blueviolet;
  background-color: white;
  color: blueviolet;
}
.lorem{
  margin: 15px 0;
}